window {
  background-color: #363636;
}

button {
  font-size: 40px;
  padding: 8px;
  margin: 8px;
  border-radius: 1em;
  border: 2px solid;
  background-color: #202020;
  transition-duration: 0.4s;
}

button:hover {
  transition-duration: 0.2s;
  background-color: #3A3A3A;
}

button:active {
  transition: background-color 0.2s ease;
  background-color: #606060;
}

.equals {
  border: 2px solid #75bfff;
}
.delete {
  border: 2px solid #ee6565;
}

entry {
  font-size: 48px;
  padding: 0.5em;
  border-radius: 1em;
  border: 2px solid #ffffff;
}

popover.menu contents {
  padding: 8px;
  border-radius: 1em;
  border: 2px solid;
  transition-duration: 0.4s;
  background-color: #202020;
}

popover.menu contents box box * {
  border-radius: 0.5em;
}
popover.menu contents box box *:hover {
  transition-duration: 0.2s;
  background-color: #3A3A3A;
}
popover.menu contents box box *:active {
  transition: background-color 0.2s ease;
  background-color: #606060;
}

popover.menu contents box box * label {
  font-size: 24px;
}
